.cases {
  padding: 50px 0;
  text-align: center;

  &__container {
    @include container;
  }
  &__uppertitle {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 37px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 38px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 39px;
    }
  }

  &__list {
    @media screen and (min-width: $tablet) {
      --items: 4;
      --indent-column: 8px;
    }
  }

  &__img {
    @extend %img;
  }
}
